<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_LINQ_QuanLy_QuanTraSua.Properties.Settings.QuanLyQuanTraSuaConnectionString"
            connectionString="Data Source=(local);Initial Catalog=QuanLyQuanTraSua;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>